:root {
    --primario: #333;
    --secundario: #ddd;
}

html {
    background: var(--secundario);
    font-family: 'Jost Variable', sans-serif;
}

.layout {
    max-width: 72rem;
    padding-right: 2.25rem;
    padding-left: 2.25rem;
    margin: 0 auto;
}