.hero-span {
    color: var(--secundario);
    text-transform: uppercase;
    background: var(--primario);
    padding: 4px 16px;
    margin-bottom: 2.25rem;
    font-size: 20px;
    font-weight: 500;
}

.hero-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}